<mat-card>
  <mat-card-header class="m-6">
    <mat-card-title >Search Filters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<form [formGroup]="searchForm">

<div formArrayName="searchFields" >
  <div *ngFor="let alias of searchFields.controls; let i=index">
    <div class="flex">
      <mat-form-field >
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="name">Name</mat-option>
          <mat-option value="fatherName">Father Name</mat-option>
          <mat-option value="cnic">CNIC</mat-option>
          <mat-option value="gender">Gender</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
    <mat-label >Search Fields:</mat-label>
    <input matInput  id="alias-{{ i }}" type="text" [formControlName]="i" >
    </mat-form-field>

      <button mat-icon-button color="accent" (click)="removeSearchField(i)" *ngIf="i>0" class="ml-6">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>
 <div class="flex justify-between">
  <button mat-icon-button  color="primary" (click)="addSearchField()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="accent" (click)="search()" class="ml-6">
    <mat-icon>person_search</mat-icon>
  </button>
 </div>
</div>
</form>
  </mat-card-content>
</mat-card>
