  <mat-card class="example-card">
    <mat-card-header class="m-6">
      <mat-card-title>Personal Information</mat-card-title>
    </mat-card-header>
    <hr>
    <!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <div class="flex my-6 ">
        <div class="block p-6 rounded-lg shadow-lg bg-white  ">
          <div class="flex justify-items-start ">
            <div class="flex items-center space-x-4">
              <img class="w-40 h-40 rounded-full" src="https://portal.campus.uot.edu.pk/sis/Content/img/{{person.image}}" alt="">
              <div class="font-medium dark:text-white">
                <div>{{person.firstName + ' '+ person.lastName}}</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">{{person.fatherName}}</div>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="float-right">-->
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>Search person by id</mat-label>-->
<!--          <input matInput [(ngModel)]="searchTerm" />-->
<!--          <mat-icon matPrefix (click)="loadPerson()">search</mat-icon>-->
<!--        </mat-form-field>-->
<!--        </div>-->
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4 my-6">
        <div class="flex flex-col">
          <div class="text-sm font-sans font-bold text-gray-500 dark:text-gray-400 mr-8">Name</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-semibold text-gray-600 dark:text-gray-800" >{{person.firstName | uppercase }}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-bold text-gray-500 dark:text-gray-400 mr-8">Father's Name</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-semibold text-gray-600 dark:text-gray-800">{{person.fatherName | uppercase}}</div>
        </div>

        <div class="flex flex-col">
          <div class="text-sm font-bold text-gray-500  dark:text-gray-400 mr-8">Gender</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-semibold text-gray-600 dark:text-gray-800">{{person.gender | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-bold text-gray-500  dark:text-gray-400 mr-8">Date of Birth</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-semibold text-gray-600 dark:text-gray-800">{{person.dateOfBirth | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-bold text-gray-500  dark:text-gray-400 mr-8">CNIC #</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-semibold text-gray-600 dark:text-gray-800">{{person.cnic | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-bold text-gray-500  dark:text-gray-400 mr-8">Phone Number</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.contactNumber | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm font-bold text-gray-500  dark:text-gray-400 mr-8">Father/Gaurdian Phone Number</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.gaurdianContactNumber | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Father/Gaurdian CNIC#</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.guardianCnic | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Emgergency Contact Number</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.relationToEc | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Email Address</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.email | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Relation to Emergency Contact</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">Father</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Religion</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.religion | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Domicile</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.domicile | uppercase}}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-black dark:text-gray-400 mr-8">Nationality</div>
        </div>
        <div class="flex flex-col">
          <div class="text-sm text-gray-600 dark:text-gray-800">{{person.domicile | uppercase}}</div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
